/* Write your CSS here */
.lists {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p {
  color: #000000;
}
button {
  color: #ff0b37;
  background-color: #ffffff;
  border: 1px solid #ff0b37;
  border-radius: 10px;
  padding: 5px;
  margin: 4px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  outline: none;
}
